.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  z-index: 50;
}

.header__container {
  background-color: #ffffff;
  width: 1400px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  /* overflow: hidden; */
  z-index: 50;
}

.left-side__container {
  width: 40%;
  /* border-right: 1px black solid; */
}

.logo__container {
  /* width: 60%; */
  height: 60%;
  margin: 20% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container img {
  /* width: 100%; */
  height: 100%;
  max-height: 200px;
}

.right-side__container {
  width: 60%;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: nowrap;
}

.contacts__item__container {
  /* margin: 0 10px; */
  height: 24px;
  border: #00000000 solid 1px;
  /* border: 1px black solid; */
  /* background: linear-gradient(rgb(67, 104, 56), #ffffff 20%); */
}

.contacts__item__container:hover {
  border: #000000 solid 1px;
  border-radius: 10px;
  /* background-color: #f7f7f7; */
  background: linear-gradient(215deg, rgb(67, 104, 56), #33ff0049 50%);
}

.contacts__item {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #000000;
}

.contacts__item:hover {
  color: #000000;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__item img {
  height: 60%;
  width: 15px;
}

.contacts_icon {
  margin: 0 5px;
}

.adress__container {
  display: flex;
  justify-content: end;
  padding-top: 20px;
}

.adress__container p {
  border: 1px solid black;
  padding: 0 5px;
  border-radius: 5px;
}

.navigation__container {
  width: 100%;
  padding-top: 20px;
}

.header__panel__nav {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  height: 40px;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 40px;
  /* min-width: 140px; */
  border-radius: 0;
  border: 1px solid black;
}

.header__button-last {
  border-right: 2px solid black;
}

.header__button-first {
  border-left: 2px solid black;
}

.header__button:hover {
  background-color: rgb(67, 104, 56);
  border-radius: 5px;
  color: #fff;
}

.dropdown__button {
  width: -webkit-fill-available;
}

.header__dropdown {
  overflow: hidden;
  /* margin: 0 -1px; */
  /* width: 142px; */
}

.dropdown__content {
  /* min-width: 140px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 40px;
  width: 140px;
  border-radius: 0;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  opacity: 1;
  color: #000000;
  background-color: #cecece;
}

.dropdown__link:hover {
  background-color: rgb(67, 104, 56);
  color: #fff;
  border-radius: 5px;
}

.dropdown__link:first-child {
  border-top: none;
  border-bottom: none;
}

.dropdown__link:last-child {
}

.header__panel__nav__button {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0;
  z-index: 100;
}

.header__panel__nav__button:hover {
  background-color: rgb(67, 104, 56);
  color: #fff;
}

.header__panel__nav__button hr {
  font-size: 10px;
  color: #000000;
  margin: 5px;
}

.dropdown__button-active {
  background-color: rgb(94, 146, 78) !important;
  color: #fff !important;
}

@media (max-width: 1400px) {
  .header__container {
    width: 1250px;
  }
}

@media (max-width: 1250px) {
  .header__container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .header__container {
    width: 800px;
  }

  .left-side__container {
    width: 30%;
  }

  .right-side__container {
    width: 70%;
  }

  .header__button {
    width: 80px;
    height: 50px;
    min-width: unset;
    /* padding: 5px 0; */
  }

  .header__dropdown {
    width: 80px;
    min-width: unset;
    height: 50px;
  }

  .dropdown__content {
    width: 80px;
    min-width: unset;
  }

  .dropdown__link {
    width: 78px;
    min-width: unset;
    /* padding: 5px 0; */
  }
}

@media (max-width: 799.9px) {
  .header {
    height: 75px;
    position: fixed;
  }

  .header__container {
    width: 640px;
    height: 75px;
    position: fixed;
  }

  .left-side__container {
    width: 20%;
    position: absolute;
  }

  .right-side__container {
    width: 100%;
    position: fixed;
    padding: 0;
  }

  .header__panel__nav {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 95px;
  }

  .header__button {
    width: 640px;
  }

  .header__dropdown {
    width: 100%;
    overflow: hidden;
    display: none;
    border: 1px solid #000000;
    border-radius: none;
  }

  .dropdown__content {
    width: 100%;
    align-items: stretch;
    display: none;
  }

  .dropdown__link {
    width: 99.8%;
    border: 1px solid #000000;
    margin: 0;
  }

  .dropdown__link:first-child {
    border-bottom: 1px solid black;
  }

  .navigation__container {
    display: none;
    z-index: 50;
  }

  /* .navigation__background {
    z-index: 30;
    background-color: #018b0d;
    width: 100%;
    height: 100%;
    position: absolute;
  } */
}

@media (max-width: 639.9px) {
  .header__container {
    width: 560px;
  }

  .header__button {
    width: 560px;
  }
}

@media (max-width: 559.9px) {
  .header__container {
    width: 500px;
  }

  .header__button {
    width: 500px;
  }
}

@media (max-width: 499.9px) {
  .header__container {
    width: 430px;
  }

  .header__button {
    width: 430px;
  }
}

@media (max-width: 429.9px) {
  .header__container {
    width: 400px;
  }

  .header__button {
    width: 400px;
  }
}

@media (max-width: 399.9px) {
  .header__container {
    width: 360px;
  }

  .header__button {
    width: 360px;
  }
}

@media (max-width: 359.9px) {
  .header__container {
    width: 340px;
  }

  .header__button {
    width: 340px;
  }
}
