.infoPage__container {
  background-color: #ffffff;
  width: 1400px;
  z-index: 1;
}

.bloks {
  height: 600px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.slick-slider {
  height: -webkit-fill-available;
}

.slider__container {
  width: 100%;
  height: -webkit-fill-available;
  padding-bottom: 25px;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-next {
  right: 25px !important;
  z-index: 10;
}

.slick-prev {
  left: 25px !important;
  z-index: 10;
}

.slick-slide {
  justify-content: center;
}

.slider-img__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider-img {
  max-width: 100%;
  max-height: 100%;
}

.yellow {
  background-color: #f0d665;
}

.green {
  background-color: #3c863a;
}

.aboutUs__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 600px;
}

.aboutUs__leftSide__container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutUs__rightSide__container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUs__leftSide-title {
}

.aboutUs__leftSide-text {
  padding: 0 60px;
}

.aboutUsImg {
  max-height: 90%;
  max-width: 100%;
}

.servises__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.servises-label {
  align-self: flex-end;
  margin-right: 50px;
}

.servises-text {
  align-self: flex-end;
  margin: 0 50px;
  text-align: justify;
}

.servises-list__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.servises-item__container {
  width: 50%;
  padding: 0 auto;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.servises-item__img {
  margin: 0 20px;
  max-height: 100%;
}

.servises-item-label {
  font-weight: 600;
  margin-top: 0;
}

.servises-item-text {
  text-align: left;
}

.references__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #4d6133;
  justify-content: space-around;
  align-items: center;
}

.references-text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 50%;
}

.references-text {
}

.references-telephone {
}

.references-map {
  width: 40%;
  margin: 20px auto;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__map {
  width: 100%;
}

@media (max-width: 1399.9px) {
  .infoPage__container {
    width: 1250px;
  }
}

@media (max-width: 1249.9px) {
  .infoPage__container {
    width: 1024px;
  }
}

@media (max-width: 1023.9px) {
  .infoPage__container {
    width: 800px;
  }

  .aboutUs__container {
    height: 400px;
  }

  .references__container {
    flex-direction: column;
    height: max-content;
  }

  .references-text__container {
    width: 100%;
  }

  .references-text {
  }

  .references-telephone {
  }

  .references-map {
    width: 80%;
  }
}

@media (max-width: 799.9px) {
  .infoPage__container {
    margin-top: 75px;
    width: 640px;
  }

  .aboutUs__container {
    height: 300px;
  }
}

@media (max-width: 639.9px) {
  .infoPage__container {
    width: 560px;
  }

  /* .references__container {
    height: 600px;
  } */

  .contact__map {
    height: 400px;
  }

  .references-map {
    height: 440px;
  }
}

@media (max-width: 559.9px) {
  .infoPage__container {
    width: 500px;
  }

  .aboutUs__leftSide-text {
    padding: 0 30px;
  }

  .servises-list__container {
    justify-content: center;
  }

  .servises-item__container {
    width: 60%;
  }

  .references-text {
    margin: 0 50px;
  }

  .contact__map {
    height: 400px;
  }
}

@media (max-width: 499.9px) {
  .infoPage__container {
    width: 430px;
  }
}

@media (max-width: 429.9px) {
  .infoPage__container {
    width: 400px;
  }

  .aboutUs__leftSide-text {
    padding: 0 15px;
  }
}

@media (max-width: 399.9px) {
  .infoPage__container {
    width: 360px;
  }
}

@media (max-width: 359.9px) {
  .infoPage__container {
    width: 340px;
  }
}
