.salesPage__container {
  width: 1400px;
  background-color: #52742c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filter-button {
  position: fixed;
  left: 15px;
  top: 50%;
  transform: rotate(270deg);
}

.filter__container {
  position: absolute;
  top: 100px;
  left: 10px;
  background-color: #fff;
  border: 1px solif black;
  border-radius: 5px;
  max-width: 100%;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-categories__container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.filter-button__inner {
  transform: rotate(270deg);
  height: 50px;
  margin: 0;
}

.product__container {
  width: 25%;
  margin: 20px 2.5%;
  border: 1px solid black;
  border-radius: 15px;
}

.product-img {
  max-width: 90%;
  margin: 10px 5%;
}

@media (max-width: 1399.9px) {
  .salesPage__container {
    width: 1250px;
  }
}

@media (max-width: 1249.9px) {
  .salesPage__container {
    width: 1024px;
  }
}

@media (max-width: 1023.9px) {
  .salesPage__container {
    width: 800px;
  }
}

@media (max-width: 799.9px) {
  .salesPage__container {
    margin-top: 75px;
    width: 640px;
  }
}

@media (max-width: 639.9px) {
  .salesPage__container {
    width: 560px;
  }
}

@media (max-width: 559.9px) {
  .salesPage__container {
    width: 500px;
  }
}

@media (max-width: 499.9px) {
  .salesPage__container {
    width: 430px;
  }
}

@media (max-width: 429.9px) {
  .salesPage__container {
    width: 400px;
  }
}

@media (max-width: 399.9px) {
  .salesPage__container {
    width: 360px;
  }
}

@media (max-width: 359.9px) {
  .salesPage__container {
    width: 340px;
  }
}
