#root {
  height: 100%;
  width: 100%;
  padding: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
}
/* 
@media (max-width: 1250px) {
  .main__container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .main__container {
    max-width: 800px;
  }
}

@media (max-width: 1024px) {
  .main__container {
    max-width: 640px;
  }
} */